<!DOCTYPE html>
<html lang="fr">
{% extends 'flitting/base.html' %}

<!-- Content -->
{% block content %}
<div class = "container">
    <div class="row justify-content-center">
        <!-- Description -->
        <div class="col-11" id= "Description">
            <div class="card border-dark mb-3 ">
                <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                      Flitting is a platform that provides all the help one needs to move and settle into a new city or even a new country. All the help that is provided by Flitting is well investigated and is hence very trustworthy. Flitting is also very quick and easy to use. The move to a new location is made easier than one can expect. Flitting is a platform that provides a person all the help they need to move into a new place. Flitting has a list of people, in a location, who can help a person move in. All the people listed on the app will have a rating that is based on the feedback provided by other people who have been helped by this person.
                    </p>
                    <p class="card-text">
                      The Flitting app has been developed with the aim of helping both users, who are relocating, the helpers and the local businesses. By enabling users to make use of the Flitting app to assist them in relocating, it can be ensured that the local businesses and local services that are provided, are used by the helpers to aid the users in relocating to the new location.
                    </p>
                    <p class="card-text">
                      It is ensured that all the details present in the Flitting app, related to a contact, are always kept updated. Hence, the users of the Flitting app, need not worry about stale data being present in the app and can be convinced that they will get the best service present out there. There are contacts listed for everything that one might need to move in, to a new place.
                    </p>
                    <p class="card-text">
                      Happy relocating!!!
                    </p>
                </div>
            </div>
        </div>

        <!-- Reviews -->
        <div class="col-11" id="reviews">
            <div class="card border-dark mb-3">
                <div class="card-header bg-dark text-white text-uppercase"><i class="fa fa-comment"></i> Reviews</div>
                <div class="card-body">
                    <div class="review style:margin-right:10px;">
                        <b>“Great experience”</b>
                        <meta>10/10/2018</meta>
                        <div>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        by Gerald V.</div>
                        <p class="blockquote">
                            <p class="mb-0">I had to move to South Korea and within 2 weeks and Lee Min Jung helped me find a house to move in to that was within my budget!</p>
                        <hr>
                    </div>
                    <div class="review">
                            <b>“Painting company”</b>
                            <meta>9/8/18</meta>
                            <div>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            by Brandon F.</div>
                            <p class="blockquote">
                                <p class="mb-0">I had just relocated to Australia and required some paint work to be done to the exterior of my house. He painted the exterior of my house did a great job, love the color the work is great, and the guys were great. If I Could I would give his company five plus stars. Thank you, Flitting!
                            <hr>
                    </div>
                    <div class="review">
                            <b>“New Landscaping project”</b>
                            <meta>3/14/17</meta>
                            <div>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            by Rebecca E.</div>
                            <p class="blockquote">
                                <p class="mb-0">I hired a Lawn Service to cut in new beds and buy and plant two trees in the backyard of my new house in Denmark. He was always on time and very professional. He did a beautiful job with the front and back of my house (which had no landscaping at all).
                                <hr>
                    </div>
                    <div class="review">
                            <b>“Excellent service & professional staff”</b>
                            <meta>2/27/17</meta>
                            <div>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star-half"></span>
                            by Abigail K.</div>
                            <p class="blockquote">
                                <p class="mb-0">The Housekeeping I hired as soon as I moved to Moscow did an excellent job of scrubbing the house until every area was fresh and clean. Jackie is a pleasure to work with.<hr>
                    </div>
                    <div class="review">
                            <b>“SOLID DESIGN BUILD! Finished before scheduled due date! Lovely work!”</b>
                            <meta>2/26/17</meta>
                            <div>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            by Francine J.</div>
                            <p class="blockquote">
                                <p class="mb-0">I couldn't believe how quick and professional Bret's team was. They were clean, polite, and hard working. I had required some interiors to be done in my new house. The quartz counter tops and back splashes were precision cut by master artist Edwin and beyond awesome. I had them put in a washer dryer unit, a new dishwasher, stove and hood. Everything worked perfectly! And the cabinets are beautiful.
                            <hr>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
