{% extends "flitting/base.html"%}
{%block content%}
<div class = "container">
    <article class="media content-section">
     <img src= '{{object.user.profile.image.url}}' style= "height:80px" class = "rounded-circle article-img">
     <div class="media-body">
       <div class="article-metadata">
         <a class="mr-2" style="margin-left:30px;font-size:30px">{{object.user}}</a>
         <div>
         <small class="text-muted" style="margin-left:30px;font-size:15px">{{ object.date_posted|date:"F d,Y" }}</small>
        </div>
       </div>
       <div>
         <a class="article-title" style="margin-left:30px; font-size:20px;" >{{ object.city }}, </a>
         <a class="article-title" style="font-size:20px;">{{ object.country }}</a>
       </div>
       <b><div class="article-title" style="margin-left:30px; font-size:20px;">{{ object.category }}</div></b>
       <p class="text-justify" style="margin-left:30px;">
       <a class="article-content" style="font-size:15px;font-style: italic">{{ object.description }}
        </p>
        {% if object.user == user%}
        <a class="btn btn-success btn-sm mt-1 mb-1" href="{%url 'listing-update' object.id%}" style="margin-left:30px">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{%url 'listing-delete' object.id%}">Delete</a>
        {%endif%}
     </div>
     <div style="align-content: flex-end">
    </div>
    </article>
</div>
{%endblock content%}
